@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

.carousel h2 {
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item {
    background: #333;
    text-align: center;
    height: 300px !important;
}
